.post-summary .post-image{
	width:200px;
}

.posts .post-summary{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.posts .post-summary > *{
	margin: 5px;
}

.centered{
	margin-left: auto;
	margin-right: auto;
	display:block;
}

.centered-text{
	text-align: center;
}

.image-header{
	width:100%;
	margin-bottom:25px;
}

.image-header img{
	margin: 0 auto;
}

.image-header .image-caption{
	text-align: center;
	font-size: 15px;
	font-style: italic;
	color: #B3B3B3;
}

.mt-10{
	margin-top: 10px;
}
.mt-25{
	margin-top: 25px;
}
.mt-50{
	margin-top: 50px;
}


.mb-10{
	margin-bottom: 10px;
}
.mb-25{
	margin-bottom: 25px;
}
.mb-50{
	margin-bottom: 50px;
}


.mr-10{
	margin-right: 10px;
}
.mr-25{
	margin-right: 25px;
}
.mr-50{
	margin-right: 50px;
}

.ml-10{
	margin-left: 10px;
}
.ml-25{
	margin-left: 25px;
}
.ml-50{
	margin-left: 50px;
}